.Popup {
    min-width: 300px;
    max-width: 450px;
    background-color: #fff;
    padding: 10px;
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    font-style: italic;
    animation: popIn .3s linear 1 forwards alternate;
    transform: scale( 0.8 );
}

@keyframes popIn {
    50% {
        transform: scale( 1.1 );
    }
    100% {
        transform: scale( 1 );
    }
}

.Popup .las {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.Popup p:last-child {
    font-size: 13px;
    color: gray;
    text-align: justify;
}